body{
    font-family: 'Roboto', sans-serif;
}

header{
    background-image: url('../img/Group37.png');
    text-align: center;
    background-size: cover;
    padding: 35px 0 175px;
}

h1{
    font-size: 60px;
    color: #F0F0F0;
    margin-bottom: 75px;
    line-height: 70.31px;
}

p{
    font-size: 20px;
    color: #F0F0F0;
    margin-bottom: 30px;
    line-height: 23px;
}

.logotyp{
    display: block;
    margin: 0 auto;
    width: 513px;
    margin-bottom: 225px;
}

.btn{
    background-color: #ff9728;
    border: none;
    padding: 16px 40px;
    border-radius: 84px;
    font-size: 21px;
    color: #F0F0F0;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

/*section*/
.conteiner__info1{
    background-color: #DEF0FF;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px;
    margin: 0 auto;
}
.conteiner__info1 h2{
    font-size: 40px;
    color: #0F4C92;
    width: 571px;
    height: 47px;
    margin-bottom: 40px;
}
.conteiner__info1 p{
    color: #0F4C92;
    font-size: 18px;
    width: 743px;
}

.conteiner__info2{
    background-color: #DEF0FF;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px;
    margin: 0 auto;
}
.conteiner__info2 h2{
    font-size: 40px;
    color: #0F4C92;
    width: 602px;
    height: 94px;
    margin-bottom: 40px;
}
.conteiner__info2 p{
    color: #0F4C92;
    font-size: 18px;
    width: 743px;
}

/* advantades */
.advantades{
    background-color: #f2f9ff;
    padding: 0 0 100px;
    /*border: 2px solid red;*/
}
.advantades__blocks{
    /*border: 2px solid green;*/
    width: 1195px;
    margin: 0 auto;
}
.advantades__block{
    display: flex;
    padding-top: 50px;
}
.advantades__description2{
    padding-left: 0;
    padding-right: 80px;
}
.advantades__description2 h3{
    font-size: 26px;
    font-weight: bold;
    line-height: 30px;
    color: #0F4C92;
}
.advantades__description2 data{
    font-size: 20px;
    line-height: 23px;
    margin-top: 20px;
}
.advantades__description2 p{
    font-size: 18px;
    color: #1b1b1b;
    margin-top: 40px;
.advantades__block img{
    width: 585px;
    height: 580px;
}
.advantades__description{
    /*border: 2px solid blue;*/
    padding-left: 80px;
    padding-top: 65px;
}
h3{
    font-size: 26px;
    font-weight: bold;
    line-height: 30px;
    color: #0F4C92;
}
.date{
    font-size: 20px;
    line-height: 23px;
    margin-top: 20px;
}.date span{
    font-weight: bold;
}
.advantades__description p{
    font-size: 18px;
    color: #1b1b1b;
    margin-top: 40px;
}
.more__info{
    font-size: 21px;
    line-height: 24.5px;
    color: #ffffff;
    text-align: center;
    border-radius: 95px;
    background-color: #0d599c;
    width: 314px;
    height: 57px;
    padding: 16px 70px 16px 70px;
    border: none;
    cursor: pointer;
    margin-top: 40px;
}

/* form*/
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    /*display: flex;*/
    display: none;
    justify-content: center;
    align-items: center;
}
.callback-form{
    background: linear-gradient(327.75deg, #0080BF 9.35%, #00496C 117.99%);
    border-radius: 50px;
    padding: 100px 80px 50px;
}
.callback-form h2{
    color: #f9f9f9;
    text-align: center;
    margin-bottom: 75px;
    font-size: 40px;
}
.callback-form input{
    width: 350px;
    border: 1px solid #f7f6f6;
    background-color: transparent;
    padding: 15px 30px;
    border-radius: 30px;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 21px;
    box-sizing: border-box;
}
.callback-form input:first-child{
    margin-right: 15px;
}
.callback-form input::placeholder{
    font-size: 18px;
    color: #B2E3FF;
}
.callback-form .callback-form__btn{
    border: none;
    background-color: #ff9728;
    color: #ffffff;
    width: 190px;
    font-size: 21px;
    border-radius: 83px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

/* reservation */
.reservation{
    /*border: 2px solid red;*/
    padding: 97px;
    background-color: #B5E4FF;
    color: #f4f4f4;
}
.reservation__conteiner{
    /*border: 2px solid green;*/
    border-radius: 19px;
    background-color: #2B477C;
    text-align: center;
    width: 785px;
    box-sizing: border-box;
    margin: auto;
    padding: 61px 60px 30px 60px;
}
.reservation__conteiner h2{
    font-size: 40px;
    line-height: 47px;
}
.reservation__conteiner p{
    font-size: 18px;
    line-height: 21px;
    padding-top: 39px;
}

/* map */
.map__section{
    color: #0F4C92;
    text-align: center;
}
.map__section h2{
    margin: 75px 0;
    font-size: 40px;
    line-height: 47px;
}
.map{
    width: 100%;
    height: 355px;
}

/* footer */
footer{
    background-color: #0B83BE;
    text-align: center;
}
.footer__logo img{
    width: 500px;
}
.footer{
    padding: 47px 331px 113px 332px;
    color: #ffffff;
    font-size: 20px;
    line-height: 23px;
}
.footer p{
    padding-top: 90px;
}
